<h2>Google Authenticator aktivieren</h2>

<p>Scanne diesen QR-Code in deiner App:</p>

<img src="{{ qrCodeDataUri }}" alt="QR Code">

<p>Oder gib diesen Code manuell ein:</p>
<code>{{ app.user.googleAuthenticatorSecret }}</code>
