@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
html {
    color-scheme: light;
}

.app-button{
    @apply flex items-center space-x-2 px-5 py-3 rounded-xl bg-gradient-to-r from-slate-700 to-slate-900 dark:from-white dark:to-gray-200 text-white dark:text-slate-900 hover:shadow-lg transform hover:scale-[1.02] transition-all duration-200 cursor-pointer;
}

.activeDay{
    @apply px-2 py-1 bg-amber-600 text-white rounded text-xs font-medium;
}

.inactiveDay{
    @apply px-2 py-1 bg-gray-200 dark:bg-gray-700 text-gray-500 rounded text-xs font-medium;
}
.dragging{
    @apply opacity-70;
}

.draggable{
    @apply cursor-move;
}

.drag-over{
    @apply border-2 border-dashed border-blue-500;
}
.successToastBackground{
    @apply bg-green-100 dark:bg-green-800;
}
.errorToastBackground{
    @apply bg-red-100 dark:bg-red-800;
}
.activeFacility{
    @apply bg-white/80 dark:bg-gray-800/80 ring-2 ring-blue-500;
}
